{% extends 'baseFront.html.twig' %}




      {% block section %}   
 <div class="card-body px-5 py-5">
                        <h3 class="card-title text-center mb-3">Welcome {{ name }}</h3>

                        <form method="post">
                            <div class="form-group">
                                <p class="sign-up">we are aware that you're an admin of this application, please chose which interface to head to.</p>
                            </div>

                            <div class="d-flex" style="margin-bottom: 20px;">
                                <a class="btn btn-primary mr-2 col " href="{{ path('user_index') }}"><i class="mdi mdi-account-box"></i> Admin Panel </a>
                                <a class="btn btn-primary mr-2 col" href="{{ path('profile') }}"><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Front panel </a>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-danger btn-block enter-btn" href="{{ path('app_logout') }}"><i class="mdi mdi-arrow-right-bold-hexagon-outline"></i> Log out </a>
                            </div>
                        </form>
                    </div>
                    /*************************************/
            {% endblock %}