<!DOCTYPE html>

<title>New CategorieProd</title>

{% block body %}
    <h1>Create new CategorieProd</h1>

    {{ include('catrgorie_prod/_form.html.twig') }}

    <a href="{{ path('app_catrgorie_prod_index') }}">back to list</a>
{% endblock %}
